.ui.modal > .content > .add-account {
  display: flex;
  flex-direction: column;
  .ui.input {
    padding: 5px 0px;
  }
}

.investment-account-tools {
  display: inline-flex;
  align-items:center;
}

.accounts-overflow-menu.ui.dropdown {
  display: flex;
  align-items: center;
}

