
.ui.modal > .content > .add-account {
  display: flex;
  flex-direction: column;
}

.add-account > .ui.input {
  padding: 5px 0px;
}

.accounts-overflow-menu.ui.dropdown {
  display: flex;
  align-items: center;
}

.portfolio-stat {
  display: flex;
  align-items: center;
  font-weight: bold;;
  margin: 0 5px;
}

.portfolio-stat > .stat-label {
  padding-right: 5px;
}
