.settings-dropdown.ui.dropdown {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.settings-dropdown.ui.dropdown:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.ui.modal > .content > .add-account {
  display: flex;
  flex-direction: column;
}
.add-account > .ui.input {
  padding: 5px 0px;
}

.ui.menu.top-bar {
  margin-bottom: 5px;
  padding: 5px;
}
